div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    form.form-horizontal
      .row.form-group.no-bottom.text-left
        label.control-label(for="hash").col.col-sm-2 MD5 Hash
        .col-sm-6.col
          input.form-control(ng-blur="checkHash()" type="text" name="hash" ng-model="search.hash" placeholder="DEADBEEFCAFEBABEBADC0DEDDEAD")
          span.pull-left(style="color:red" ng-show="!search.hashValid").
            Not a valid MD5 hash
          .clearfix

        label.control-label(for="maxLength").col-sm-2.col max length
        .col-sm-2.col
          input.form-control(ng-blur="checkMaxLength()" ng-model-options="{updateOn: 'default blur'}" type="number" name="maxLength" ng-model="search.maxLength")
          span.pull-left(style="color:red" ng-show="!search.maxLengthValid").
            Max Length: 1 - 32
          .clearfix

      .row.text-left
        label.control-label.text-left(for="alphabet").col-sm-2 Alphabet
        .col-sm-8.col
          input.form-control(ng-blur="checkAlphabetLength()" ng-model="search.alphabet" type="text" name="alphabet")
          span.pull-left(style="color:red" ng-show="!search.alphabetValid").
            The alphabet has to be longer than 0 characters.
          .clearfix

        .col-sm-2.col
          button.container-fluid.btn.btn-block.btn-success.btn-default(type="submit" ng-click="addSearch()") Submit

.container
  .row
    .col-lg-12
      h1 Distributed MD5 hashing

  .row
    .col-lg-3
      strong.
        Clients working / connected

    .col-lg-9
      strong {{clients.working}}
      |&nbsp;/&nbsp;{{clients.connected}}

  .row(ng-show="processing" ng-class="ng-hide")
    .col-lg-3
      strong.
        Cracking hash

    .col-lg-9
      strong {{work.search}}
      |&nbsp;({{calculation.alphabet}})

  .row(ng-show="joined" ng-class="ng-hide")
    .col-lg-3
      strong.
        Status

    .col-lg-9
      .calculating(ng-show="!transmitting && processing" ng-class="ng-hide")
        | Calculating hash for
        strong   {{work.currentWord}}

      .transmitting(ng-show="transmitting && processing" ng-class="ng-hide")
        .text.
          Transmitting to server

        .found(ng-show="work.found" ng-class="ng-hide")
          | Found matching hash for
          strong {{work.currentWord}}

      .waiting(ng-show="joined && !processing" ng-class="ng-hide").
        Waiting for work...

  .row(ng-show="processing" ng-class="ng-hide")
    .col-lg-3
      strong.
        Block Progress

    .col-lg-9
      div.progress
        div.progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{work.progress}}%; min-width: 4em").
          {{work.progress}}%

  .row
    form.col-lg-12
      .input-group.pull-right
        button.btn.btn-primary(type='submit', ng-click='joinPool()' ng-hide="joined" class="ng-hide") Join Hashing Pool
        button.btn.btn-primary(type='submit', ng-click='leavePool()' ng-show="joined" class="ng-hide") Leave Hashing Pool

  .row
    .col-lg-6
      h3 Queue
      table.table.table-striped
        tr(ng-repeat="(key, value) in searchStats.next")
          td
            strong {{value.hash}}
            | &nbsp;({{value.alphabet}})

    .col-lg-6
      h3 Last found
      table.table.table-striped
        tr(ng-repeat="(key, value) in searchStats.last")
          td
            | md5(
            strong {{value.solution}}
            | )
            | &nbsp;=&nbsp;{{value.hash}}

footer.footer
  .container
    p
      | Distributed MD5 cracking
      = ' | '
      a(href='https://twitter.com/stylesuxx') @stylesuxx
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues